@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/breakpoints.scss";

.form-container {
  @include flex-center;
  height: 5.8rem;

  @media #{$maxTablet} {
    margin-top: 1rem;
    height: 8rem;
    flex-direction: column;
    justify-content: space-between;
  }

  @media #{$mobile} {
    margin-top: 2rem;
  }

  & > div {
    width: 45%;
    height: 100%;

    @media #{$tabletXL} {
      height: 90%;
    }

    @media #{$maxTablet} {
      width: 55%;
      height: 50%;
    }

    @media #{$maxMobileXL} {
      height: 45%;
      width: 80%;
    }

    @media #{$mobile} {
      width: 97%;
    }
  }
}
