@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/breakpoints.scss";

.step5-container {
  height: 100%;
  background-color: $background;
}

.step5-description {
  color: $paragraph;
  font-size: 1.15rem;
  font-weight: 500;
  height: 8%;

  @media #{$maxTablet} {
    height: 5%;
  }

  @media #{$maxMobileXL} {
    font-size: 1.1rem;
  }

  p {
    margin: 0.3rem;
  }
}

.step5-content {
  height: 92%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media #{$maxTablet} {
    height: 92%;
  }
}
