@import "../../assets/styles/colors.scss";
@import "../../assets/styles/text.scss";

button {
  background-color: $gray;
  padding: 0.7vw 0.9vw;
  @include grayButtonText;

  &:hover {
    cursor: pointer;
  }
}
