@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

header {
  display: flex;
  align-items: center;
  background-color: $background;
  padding: 0 4vw;
  height: 10%;

  @media #{$laptop} {
    padding: 0 5vw;
    height: 9%;
  }

  @media #{$tabletXL} {
    padding: 0 5vw;
    height: 8%;
  }

  @media #{$tablet} {
    padding: 0 5vw;
    height: 7%;
  }

  @media #{$mobile} , #{$mobileXL} {
    padding: 0 5vw;
    height: 8%;
  }
}

.logo-container {
  width: 100%;
  & {
    @include flex-space-between;
  }

  svg {
    height: 3.5vw;
    width: initial;

    @media #{$laptop} {
      height: 4vw;
    }

    @media #{$tabletXL} {
      height: 5vw;
    }

    @media #{$tablet} {
      height: 50px;
    }

    @media #{$mobileXL} {
      height: 45px;
    }

    @media #{$mobile} {
      height: 40px;
    }
  }
}

.login-btn-container {
  @include flex-center;
}
