@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/colors.scss";

header {
  background-color: $background;
  padding: 0.8vw 4vw;
}

.logo-container {
  & {
    @include flex-space-between;
  }

  svg {
    height: 3.5vw;
    width: initial;
  }
}

.login-btn-container {
  @include flex-center;
}
