@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

header {
  display: flex;
  align-items: center;
  background-color: $background;
  padding: 0 4rem;
  height: 10%;

  @media #{$laptop} {
    padding: 0 5rem;
    height: 9%;

    @media #{$maxTablet} {
      height: 7%;
    }

    @media #{$maxMobileXL} {
      height: 6%;
    }
  }
}

.logo-container {
  width: 100%;
  & {
    @include flex-space-between;
  }

  svg {
    height: 4rem;
    width: initial;

    @media #{$maxTablet} {
      height: 60px;
    }

    @media #{$maxMobileXL} {
      height: 58px;
    }
  }
}

.login-btn-container {
  @include flex-center;
}
