@import "../../../assets/styles/breakpoints.scss";

form#contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media #{$maxTablet} {
    justify-content: space-around;
  }

  .form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .name-field,
    .phone-field,
    .email-field {
      width: 45%;

      @media #{$maxTablet} {
        width: 100%;
      }
    }

    .phone-field {
      @media #{$maxTablet} {
        margin-top: 3rem;
      }
    }

    .extra-field {
      width: 100%;
    }
  }

  & > div:nth-child(2) {
    @media #{$maxTablet} {
      flex-direction: column;
    }
  }
}
