@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/text.scss";
@import "../../../assets/styles/mixins.scss";

.select-number-container {
  height: 100%;
  width: 100%;
  background-color: $gray;
  display: flex;
  align-items: center;

  .control {
    @include no-select;
    @include flex-center;
    width: 25%;
    height: 100%;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    color: $black;

    @media #{$laptop} {
      font-size: 2.2rem;
    }

    @media #{$tabletXL} {
      font-size: 2.3rem;
    }

    @media #{$tablet} {
      font-size: 2.1rem;
    }

    @media #{$mobileXL} {
      font-size: 2.3rem;
    }

    @media #{$mobile} {
      font-size: 2.2rem;
    }
  }

  .value-container {
    @include flex-center;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: $black;

    @media #{$laptop} {
      font-size: 1.35rem;
    }

    @media #{$tabletXL} {
      font-size: 1.25rem;
    }

    @media #{$tablet} {
      font-size: 1.2rem;
    }

    @media #{$mobileXL} {
      font-size: 1.3rem;
    }

    @media #{$mobile} {
      font-size: 1.2rem;
    }
  }
}
