@import "../../../assets/styles/colors.scss";

.step-container {
  height: 100%;
  background-color: $background;
}

.step-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.step-description {
  color: $paragraph;
  font-size: 1.2rem;
  font-weight: 500;
  height: 10%;
  p {
    margin: 0.3rem;
  }
}
