@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/text.scss";

button.gray-button {
  background-color: $gray;
  padding: 0.7vw 0.9vw;
  @include grayButtonText;

  @media #{$tabletXL} {
    padding: 0.9vw 1.1vw;
  }

  @media #{$tablet} {
    padding: 0.7rem 1.3rem;
  }

  @media #{$mobileXL} {
    padding: 0.6rem 1.2rem;
  }

  @media #{$mobile} {
    padding: 0.5rem 1.1rem;
  }

  &:hover {
    cursor: pointer;
  }
}
