@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/text.scss";
@import "../../../assets/styles/breakpoints.scss";

button.gray-button {
  background-color: $gray;
  padding: 0.9rem 1.1rem;
  @include grayButtonText;

  @media #{$tabletXL} {
    padding: 0.8rem 1.2rem;
  }

  @media #{$maxTablet} {
    padding: 0.7rem 1.3rem;
  }

  @media #{$maxMobileXL} {
    padding: 0.7rem 1.1rem;
  }

  &:hover {
    cursor: pointer;
  }
}
