@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/text.scss";
@import "../../assets/styles/colors.scss";

.hero-header-container {
  height: 90%;
  width: 100vw;
  background-image: url("../../assets/images/room-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @media #{$laptop} {
    height: 91%;
  }

  @media #{$tabletXL} {
    height: 92%;
  }

  @media #{$tablet} {
    height: 93%;
  }

  @media #{$mobile}, #{$mobileXL} {
    height: 92%;
  }
}

.flex-center {
  @include flex-center;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.text-container {
  background-color: rgba($color: $background, $alpha: 0.3);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 1.6vw 3.2vw;

  @media #{$laptop} {
    padding: 2.4vw 3.6vw;
  }

  @media #{$tabletXL} {
    padding: 2.6vw 3.8vw;
  }

  @media #{$tablet} {
    width: 80%;
    padding: 3rem 0;
  }

  @media #{$mobile}, #{$mobileXL} {
    width: 92%;
    height: 70%;
    padding: 2rem 1.2rem;
  }
}

h1 {
  margin: 0;
}

.subtitle {
  @include subtitleStyle;
}
