@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/text.scss";
@import "../../assets/styles/colors.scss";

.hero-header-container {
  height: 90%;
  width: 100vw;
  background-image: url("../../assets/images/room-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @media #{$laptop} {
    height: 91%;
  }

  @media #{$maxTablet} {
    height: 93%;
  }

  @media #{$maxMobileXL} {
    height: 94%;
  }
}

.flex-center {
  @include flex-center;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.text-container {
  background-color: rgba($color: $background, $alpha: 0.3);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 2.8rem 4.5rem;

  @media #{$laptop} {
    padding: 2.4rem 3.6rem;
  }

  @media #{$tabletXL} {
    padding: 2.2rem 2.5rem;
  }

  @media #{$maxTablet} {
    width: 94%;
    padding: 2rem 1rem;
  }

  @media #{$maxMobileXL} {
    width: 96%;
    padding: 2.2rem 1.1rem;
  }

  @media #{$mobile} {
    width: 100%;
  }
}

h1 {
  margin: 0;
}

.subtitle {
  @include subtitleStyle;
}
