$mobile: "(max-width: 425px)";
$mobileXL: "(min-width: 425px) and (max-width: 625px)";
$tablet: "(min-width: 625px) and (max-width: 768px)";
$tabletXL: "(min-width: 768px) and (max-width: 1025px)";
$laptop: "(min-width: 1025px)  and (max-width: 1201px)";
$desktop: "(min-width: 1201px)";

$maxTablet: "(max-width: 768px)";
$maxMobileXL: "(max-width: 625px)";
