@import "./colors.scss";
@import "./breakpoints.scss";

@mixin grayButtonText {
  font-weight: 500;
  color: $black;
  font-size: 1.15rem;

  @media #{$tabletXL} {
    font-size: 1.2rem;
  }

  @media #{$maxTablet} {
    font-size: 1.2rem;
  }

  @media #{$maxMobileXL} {
    font-size: 1.1rem;
  }
}

@mixin actionButtonText {
  font-weight: 700;
  color: $accent-text;
  font-size: 1.6rem;

  @media #{$laptop} {
    font-size: 1.5rem;
  }

  @media #{$tabletXL} {
    font-size: 1.4rem;
  }

  @media #{$maxTablet} {
    font-size: 1.3rem;
  }
}

@mixin h1Style {
  font-weight: 700;
  color: $black;
  font-size: 4.2rem;

  @media #{$laptop} {
    font-size: 4.1rem;
  }

  @media #{$tabletXL} {
    font-size: 3.1rem;
  }

  @media #{$maxTablet} {
    font-size: 2.8rem;
  }

  @media #{$maxMobileXL} {
    font-size: 2.4rem;
  }
}

h1 {
  @include h1Style;
}

@mixin pageTitleStyle {
  color: $black;
  font-weight: 700;
  font-size: 1.8rem;

  @media #{$laptop} {
    font-size: 1.7rem;
  }

  @media #{$tabletXL} {
    font-size: 1.6rem;
  }

  @media #{$mobileXL} {
    font-size: 1.5rem;
  }

  @media #{$mobile} {
    font-size: 1.2rem;
  }
}

@mixin subtitleStyle {
  color: $paragraph;
  font-size: 1.7rem;

  @media #{$laptop} {
    font-size: 1.6rem;
  }

  @media #{$tabletXL} {
    font-size: 1.4rem;
  }

  @media #{$maxTablet} {
    font-size: 1.3rem;
  }

  @media #{$maxMobileXL} {
    font-size: 1.15rem;
  }
}

@mixin mobileStepperHeader {
  color: $black;
  font-weight: 600;
  font-size: 1.2rem;
}

@mixin errorText {
  color: $error;
  font-size: 13px;
}
